.btn-back{
    background-color: #C979FF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: #9E0FFF;
        color: #fff;
    }
}

@media (max-width: 768px){
    .btn-back{
        width: 30%;
        margin-right: 5%;
    }
}