
.perfilFont{
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-text {
    height: 70%;
}

.border-course-text {
    font-size: larger;
    
}

.btn-test {
    background-color: #911690;
    color: #FFF37A;
}

.btn-test:hover {
    background-color: #FFF37A;
    color: #911690;
}

.button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: large;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #911690;
    background: linear-gradient(to right, #550b55, #911690, #550b55);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  .button:hover span {
    transform: translateX(7px);
  }
  .modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color:rgba(255, 238, 164);
    border: 2px solid rgb(211, 173, 5);
    border-radius: 12px;
    position:  absolute;
    width: 40%;
    height: 70%;
    top: 100px;
    left: calc(50% - 125px);
    bottom: 70px;
  }


.imgZoom {
    transition: transform 0.2s ease;
}

.imgZoom:hover {
    transform: scale(1.1);
  }

.courses-btn {
    height: 70%;
}


@keyframes glowing-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.button1 {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background: linear-gradient(to right, #FFC939, #E45306);
  background-size: 200% auto;
  border: none;
  border-radius: 25px;
  color: rgb(13, 13, 13);
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  animation: glowing-pulse 2s infinite;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 5%;
}
@media(max-width: 768px){
  .button1{
    margin-top: 30%;
    margin-bottom:none;
  }
}

.button1::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 30px;
  box-shadow: 0 0 20px #FF8B00;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.button1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1:hover {
  color: rgb(57, 57, 56);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  background-position: right center;
}

.button1:hover::before {
  opacity: 1;
}


.game-button {
  background-color: #C979FF;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 10px #570091;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-icon {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-right: 10px;
}

.game-button:hover {
  background-color: #9E0FFF;
  color: #FFF;
  box-shadow: 2px 2px 20px #2f3640;
  transform: translateY(-2px);
}
