.btn-math {
    color: #FFF37A;
    background-color: #911690;
}

.btn-math:hover {
    background-color: #FFF37A;
    color: #911690;
}



.btn-intromath {
    background-color: #911690;
    color: #FFF37A;
}

.btn-intromath:hover {
    background-color: #FFF37A;
    color: #911690;
}