@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.app-container {
  width: 100%;
  height: 100vh;
  margin:0
}
ul>li{
  list-style-type: none;
}
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
}

.app-sidebar {
  flex-basis: 20%;
  background-color: #23FF00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2340ff00' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%235dff00' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2379ff00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2396ff00' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23B3FF00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23c2fe00' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23d1fd00' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e1fc00' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f0fb00' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFA00' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 70px;
  margin-top: 80px;
  margin-left: 20px;
  padding: 25px;
  
}

.user-box{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.user-box-text {
  text-align: center;
  color: black;
  font-size: 30;
  font-weight: 400;
  word-wrap: break-word;
}

.app-main {

  margin-left: 20px;
  padding: 8px;
  background-color: #ffaa00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 80px;
  margin-top: 80px;
}

.header-box {

  border-radius: 48px;

}
.welcome-box{
  color: black;
  font-size: 1rem;
  font-weight: 600;
  word-wrap: break-word;
  margin-top: 15px;
  padding: 15px
  
}





.img-mujeres-stem {
  padding: 20px;
  height: 30%;
  width: 30%;
  border-radius: 113px;

}
@media(max-width: 768px){
  .img-mujeres-stem {
    min-width: 70%;
  }
}

.perfilFont{
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfilFontM{
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}


.quiz-box {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*tamaño iconos en plataforma cursos QUIZ-RECURSO-ISIGNIA-FORO-AJUSTES*/
/* ...other styles */

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.icon-title {
  margin-top: 8px; /* Adjust as needed */
  text-align: center;
  color: #FFFFFF; /* Choose a color that fits the sidebar theme */
  font-size: 14px; /* Adjust as needed */
}
.btn .icons-btn {
  width: 100%; /* Esto hará que los iconos se expandan para llenar el ancho del botón */
  height: auto; /* Esto mantendrá la proporción de los iconos */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .btn .icons-btn {
      width: 80%; /* Ajusta el tamaño como sea necesario */
      height: auto;
  }
}
.icons-btn:hover {
  transform: scale(1.2); /* Enlarge the icons */
  /* If you want to add a description bubble on hover, you'll need additional styling and HTML changes */
}

/* Add additional styling for the description bubble if needed */

/*botones plataforma cursos S-T-E-M*/
.icons-stem{
  
  width: 100%;
  
}

.icons-stem:hover{
  background-color: #FFF37A;
  width: 100%;
}



  /* ESTA ES LA CLASE DE LOS QUIZZ*/
.quizzCard {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  background-color: transparent;

}

  /* ESTA ES LA IMAGEN DE LA MASCOTA HABLANDO*/
.mascota-image {
  max-width: 100%;
  height: auto;
  /* Ajusta los márgenes para alinear la imagen a la derecha */
  margin-left: auto;
  display: block; /* Esto asegura que la imagen no sea inline */
}

/* Estilos para la lista de botones */
.quiz .answer-section ul {
  list-style: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el padding por defecto */
}

.quiz .answer-section li {
  margin-bottom: 10px; /* Añade un margen entre los botones */
}

/* Estilos para los botones */
.quiz .answer-section button {
  width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(255, 255, 255);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.quiz .answer-section button:hover {
  background: rgb(250, 91, 215);
  color: rgb(33, 0, 85);
}


/* Fedback mascota*/
.feedback-bubble {
  position: absolute;
  bottom: 80%; /* Ajustar según sea necesario para que aparezca sobre la mascota */
  left: 30%;
  transform: translateX(-50%);
  min-width: 200px;
  background-color: #ffcccb;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.feedback-bubble::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #ffcccb transparent transparent transparent;
}

/* Estilos para los botones pagina mujeres */
.btnM {
  color: #B500FF;
  padding: 13px 20px;
  border: 2px solid #B500FF;
  font-size: 17px;
  transition: 0.3s;
  border-radius: 10px;
  font-family: Arial;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  background-color: #f7f4e6;
}
 
.btnM:hover {
  transition: 0.3s;
  background-color: #B500FF;
  margin-top: -20px;
  color: #FFF;
  animation-name: button_animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
 
.btnM:active {
  transform: scale(0.97);
}
 
@keyframes button_animation {
  0% {
   background-color: #B500FF;
 }

  25% {
   background-color: #3c0154;
  }
 
  50% {
   background-color: #B500FF;
  }
 
  75% {
   background-color: #3c0154;
  }
 
  100% {
   background-color: #B500FF;
  }
 }

.talkingPetText {
  color: rgb(0, 0, 0);
  font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: 400;
  word-wrap: break-word;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  cursor: pointer;
  user-select: none;
  max-width: 100vh;
  max-height: 80vh;
  background-color: #ff9ff3
}


.Pet-Talk {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateX(-35%);
}

.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 

  .carousel-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
  }
}

.ClickContinuar {
  text-align: right;
  font-size: 0.75em; 
  opacity: 0.5;
  cursor: pointer;
  user-select: none;

}

.insideBox {
  margin-top: 10px;
  margin-left: 4%;
  margin-right: 4%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contentPet {
  max-width: 100%;
  max-height: 100%;
}


.question-count{
  font-size:70%;
}
.question-text {
  font-size: 50%;
}
.answer-section {
  font-size: 50%;
}
.imagenintro {
  border-radius: 70px;
}
.card-body{
  font-weight: bold;
}