.app-container {
position: relative;  
  width: 100%;
  height: 100vh;
 

}
ul>li{
  list-style-type: none;
}
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
}

.app-sidebar {
  flex-basis: 20%;
  background-color: rgba(179, 255, 0, 0.80);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 70px;
  margin-top: 80px;
  margin-left: 20px;
  padding: 25px;
}


.user-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}

.user-box-text {
  text-align: center;
  color: black;
  font-size: 30;
  font-weight: 400;
  word-wrap: break-word;
}

.app-main {

  margin-left: 20px;
  padding: 8px;
  background-color: rgba(255, 207, 0);
  border-radius: 80px;
  margin-top: 80px;
}

.header-box {

  border-radius: 48px;
  background-color: rgba(255, 228, 112);
 
  

}
.welcome-box{
  background-color: rgba(255, 238, 164);
  border-radius: 15px;
  position: relative;
  top: 10px;
  left: 5%;
}
.welcome-box-text {
  text-align: center;
  color: black;
  font-size: 30;
  font-weight: 400;
  word-wrap: break-word;
  
}

.news-activities {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 73px;
  background-color: rgba(255, 228, 112);
}

.news-activities-text {
  
  color: black;
  font-size: 16;
  font-weight: 400;
  word-wrap: break-word;
  background-color: rgba(255, 238, 164);
  border-radius: 15px;
  width: 80%;
  position: relative;
  top: 10px;
  left: 10%;
 
}

.img-mujeres-stem {
  padding-top: 20px;
  height: 50%;
  width: 60%;
  border-radius: 113px;

}
.foto-perfil{
  max-width: 100%;
  max-height: 60%;
  border-radius: 50%;
}


.quiz-box {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*tamaño iconos en plataforma cursos QUIZ-RECURSO-ISIGNIA-FORO-AJUSTES*/
.icons-btn {

  padding-top: 5px;
  max-height: 50%;
  max-width: 50%;
  
}

/*botones plataforma cursos S-T-E-M*/
.icons-stem{
  background-color: rgba(255, 228, 112);
  width: 100%;
  
}

.icons-stem:hover{
  background-color: #FFF37A;
  width: 100%;
}

