.welcome-box{
    background-color: rgba(255, 238, 164);
    border-radius: 15px;
    position: relative;
    top: 10px;
    left: 5%;
}
.welcome-box-text {
    text-align: center;
    color: black;
    font-size: 30;
    font-weight: 400;
    word-wrap: break-word;
    
}

.imgZoom {
    transition: transform 0.2s ease;
}

.imgZoom:hover {
    transform: scale(1.1);
  }

.courses-btn {
    height: 70%;
}