.text-content {
    background-color: rgba(255, 238, 164) ;
    border: solid 2px rgb(211, 173, 5);
    border-radius: 12px;
    padding: 20px;
    font-weight: bold;
    color: rgb(13, 13, 13);
    text-align: justify;
    width: 50%;
}

@media (max-width: 600px) {
    .text-content {
        width: 100%;
    }
}
