/* Reset básico para remover márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Asegura que el contenedor de la aplicación llene al menos toda la altura del viewport */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Usa la altura completa del viewport */
  background-color: rgba(238, 219, 252, 0.53); /* Color de fondo del contenedor principal */
}

/* Configura la barra lateral para que se alinee correctamente */
.app-sidebar {
  background-color: rgba(179, 255, 0, 0.80); /* Color de fondo de la barra lateral */
  padding: 25px;
  border-radius: 70px;
  /* Opcional: si necesitas que la sidebar tenga su propia scroll */
  overflow-y: auto;
}

/* Ajusta el contenedor principal para llenar el espacio restante */
.app-main {
  display: flex; /* Importante para permitir que los hijos se expandan */
  flex-direction: column; /* Los hijos se apilan verticalmente */
  flex-grow: 1; /* Permite que el contenedor crezca y llene el espacio restante */
  background-color: rgba(255, 207, 0); /* Color de fondo amarillo */
  border-radius: 80px; /* Opcional: para bordes redondeados */
  padding: 8px; /* Agrega padding dentro del contenedor */
  /* Asegúrate de que el contenido interno se expanda adecuadamente */
  justify-content: space-between; /* Esto empujará el footer hacia abajo si hay poco contenido */
}

/* Asegura que la barra de navegación y el pie de página tengan la altura correcta */
.navbar, .footer {
  /* Tus estilos existentes para navbar y footer */
}

/* Estilos para imágenes y botones para que sean responsivos */
.icons-btn, .icons-stem, .img-fluid {
  max-width: 100%; /* Las imágenes no deben exceder el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
}

/* Media queries para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
  .app-sidebar {
    width: 100%; /* La barra lateral toma todo el ancho en móviles */
    border-radius: 0; /* Los bordes redondeados pueden ser eliminados en móviles */
    padding: 15px; /* Ajusta el padding como sea necesario en móviles */
  }

  .app-main {
    border-radius: 0; /* Los bordes redondeados pueden ser eliminados en móviles */
    margin: 0; /* Elimina márgenes en móviles para que el contenido llene todo el ancho */
  }
  
  /* Ajusta otros elementos como botones e imágenes para pantallas pequeñas si es necesario */
}

/* Si hay un footer, ajusta la altura mínima de app-container para tenerlo en cuenta */
.app-container {
  min-height: calc(100vh - alturaDelNavbar - alturaDelFooter); /* Ajusta las alturas acorde a tus elementos */
}
